<footer>
	<div class="left">
		<h3 class="label">_links</h3>
		<a routerLink="legals" routerLinkActive="active is-active">Legals</a>
	</div>

	<div class="right">
		<h3 class="label">_socials</h3>
		<div>
			<a href="mailto:valentinchaillou89@gmail.com">
				<i class="fa-solid fa-at"></i>
			</a>
			<a href="https://github.com/vchaillo" target="_blank">
				<i class="fa-brands fa-github"></i>
			</a>
			<a href="https://www.linkedin.com/in/vchaillo" target="_blank">
				<i class="fa-brands fa-linkedin"></i>
			</a>
		</div>
	</div>
</footer>