<footer class="container animated-slide-fade-in-up">
	<!-- <div class="links">
		<h3 class="label">_links</h3>
		<a routerLink="legals" routerLinkActive="active is-active">Legals</a>
	</div> -->

	<div class="socials">
		<h3 class="label">_socials</h3>
		<div>
			<a href="mailto:valentinchaillou89@gmail.com">
				<i class="fa-solid fa-at"></i>
			</a>
			<a href="https://github.com/vchaillo" target="_blank">
				<i class="fa-brands fa-github"></i>
			</a>
			<a href="https://www.linkedin.com/in/vchaillo" target="_blank">
				<i class="fa-brands fa-linkedin"></i>
				<!-- <img class="icon" src="/vchaillo/icons/linkedin.svg" alt="LinkedIn"> -->
			</a>
		</div>
	</div>
</footer>