<div class="container">
	<div class="section">
		<div class="animated-slide-fade-in-up">
			<h2 class="description">

				I'm a <strong class="code">Fullstack web developer</strong> with an atypical background and a passion
				for
				<strong class="code">clean code</strong>, <strong class="code">solid architecture</strong>, and <strong
					class="code">thoughtful design</strong>
				<br>
				I enjoy building well-structured applications with attention to both
				<strong class="code">functionality</strong> and <strong class="code">user experience</strong>
			</h2>
		</div>
	</div>

	<app-projects />
	<div class="presentation">
		<div class="left">
			<app-experiences />
		</div>
		<div class="right">
			<app-stack />
			<app-studies />
		</div>
	</div>

</div>