@import '../../../variables';

// .name {
// 	font-size: 4rem;
// 	font-weight: bold;
// }

.description {
	font-weight: normal;
	background-color: $contrast-color;
	color: $main-color;
	padding: 3rem;
	transform: skew(-3deg, -2deg);
	margin: auto;
	margin-top: 10rem;
	max-width: 90rem;
	transition: all 0.2s ease-in-out;
	line-height: 2rem;

	@media (max-width: $mobile-breakpoint) {
		margin-top: 0rem;
		padding: 2rem;
		font-size: 1.2rem;
	}
}

.presentation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}