.name {
	font-size: 4rem;
	font-weight: bold;
}

.description {
	font-weight: normal;
	// font-style: italic;
	// max-width: 50rem;

	background-color: crimson;
	color: #f1ddc4;
	padding: 3rem;
	transform: skew(-3deg, -2deg);
}

.presentation {
	margin-bottom: 5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}