<div class="container">
	<h1 class="name animated-slide-fade-in-left">Valentin Chaillou</h1>

	<h2 class="description animated-slide-fade-in-down">
		I'm a Fullstack web developer with an atypical background and a passion for clean code, solid
		architecture, and thoughtful design.
		<br>
		I enjoy building well-structured applications with attention to both
		functionality and user experience.
	</h2>

	<!-- <app-stack />
	<app-projects />
	<app-experiences />
	<app-education />

	<hr> -->

	<app-projects />
	<div class="presentation">
		<div class="left">
			<app-experiences />
		</div>
		<div class="right">
			<app-stack />
			<app-education />
		</div>
	</div>

</div>