<div class="container">
	<div class="section">
		<!-- <h1 class="name animated-slide-fade-in-left">Valentin Chaillou</h1> -->

		<h2 class="description animated-slide-fade-in">
			I'm a <strong>Fullstack web developer</strong> with an atypical background and a passion for
			<strong>clean code</strong>, <strong>solid architecture</strong>, and <strong>thoughtful design</strong>.
			<br>
			I enjoy building well-structured applications with attention to both
			<strong>functionality</strong> and <strong>user experience</strong>.
		</h2>
	</div>

	<!-- <app-stack />
	<app-projects />
	<app-experiences />
	<app-education />

	<hr> -->

	<app-projects />
	<div class="presentation">
		<div class="left">
			<app-experiences />
		</div>
		<div class="right">
			<app-stack />
			<app-studies />
		</div>
	</div>

</div>