header {
	padding: 1.5rem;
	position: sticky;
	z-index: 4242;
	top: 0;
	backdrop-filter: blur(10px);
	// background-color: rgba(0, 0, 5, 0.1);

	nav {
		display: flex;
		justify-content: space-between;
		font-size: 1.2rem;

		.right {
			display: flex;
			align-items: center;
		}

		.left {
font-weight: bold;
			a:hover {
				transform: scale(1.1) rotate(-2deg);
			}
		}

		a {
			display: inline-block;
			margin-right: 1rem;
			transition: all 0.2s ease-in-out;

			&:first-child {
				// margin-left: 0;

				&:hover {
					// color: inherit;
				}
			}

			&:hover {
				transform: scale(1.5) rotate(5deg);
				color: crimson;
				transition: all 0.2s ease-in-out;
			}
		}
	}
}