@import '../../../variables';

header {
	padding: 1.5rem;
	position: sticky;
	z-index: 4242;
	top: 0;
	padding-bottom: 4rem;
	// backdrop-filter: blur(10px);
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));

	// background-color: rgba(0, 0, 5, 0.1);

	nav {
		display: flex;
		justify-content: space-between;
		font-size: 1.2rem;

		.right {
			display: flex;
			align-items: center;
		}

		.left {
			font-weight: bold;

			.scroll-to-top-link {
				transform: scale(3.3) translateX(4rem) translateY(2.5rem);
				transition: all 0.5s ease-in-out;
				white-space: wrap;
				margin-right: 0;
				font-size: 1.5rem;
				// transform: skew(-3deg, -2deg);

				// position: relative;
				// z-index: 4243;

				&::before {
					content: '_';
					color: transparent;
					transition: all 0.5s ease-in-out;
				}

				&:hover {
					color: inherit;
				}

				@media (max-width: $mobile-breakpoint) {
					transform: none;
					transform: scale(1.2) translateX(1.8rem) translateY(1rem);
					// transform: skew(-3deg, -2deg);

					&::before {
						content: '_';
						color: $contrast-color;
					}

					&:hover {
						transform: scale(1.1) rotate(-2deg);
						transition-duration: 0.2s;
					}
				}

				&.shrink {
					transform: none;
					// transform: skew(-3deg, -2deg);

					&::before {
						content: '_';
						color: $contrast-color;
					}

					&:hover {
						transform: scale(1.1) rotate(-2deg);
						transition-duration: 0.2s;
					}
				}
			}
		}

		a {
			display: inline-block;
			margin-right: 1rem;
			transition: all 0.2s ease-in-out;
			animation: slideScreenLeft 0.2s ease-out forwards;

			&:hover {
				transform: scale(1.5) rotate(5deg);
				color: $contrast-color;
			}
		}
	}
}