header {
	padding: 1.5rem;
	position: sticky;
	z-index: 4242;
	top: 0;

	nav {
		display: flex;
		justify-content: space-between;

		.right {
			display: flex;
			align-items: center;
		}

		a {
			margin-left: 0.5rem;
		}
	}
}