<div class="animated-slide-fade-in-up" [style.animation-delay]="index * 0.2 + 1 + 's'">
	<div class="project" (click)="openProject()">

		<div class="project-image">
			<img src="{{ project.image }}" alt="" />
		</div>
		<div class="project-body">
			<h3 class="project-name">{{ project.name }}</h3>
			<p class="project-date">{{ project.date }}</p>
			@if (project.url) {
			<!-- <small class="card-url">{{ project.url }}</small> -->
			}
		</div>
	</div>
</div>

@if (isOpen) {
@if (entrance !== 'down') {
<div class="fullscreen-overlay"></div>
}
<div class="project-fullscreen" class="animated-slide-in-screen-{{ entrance}}">
	<a (click)="closeProject($event)">
		<img class="icon icon-close" src="/vchaillo/icons/close.svg" alt="Close project">
	</a>
	<a (click)="previousProject($event)">
		<img class="icon icon-left" src="/vchaillo/icons/left.svg" alt="Previous project">
	</a>
	<a (click)="nextProject($event)">
		<img class="icon icon-right" src="/vchaillo/icons/right.svg" alt="Next project">
	</a>

	<div class="container">
		<div class="project-fullscreen-body">
			<h1 class="project-fullscreen-name">{{ project.name }}</h1>
			<h3 class="project-fullscreen-date">{{ project.date }}</h3>
			<p class="project-fullscreen-description">{{ project.description }}</p>

			<app-project-stack [stack]="project.stack" />
			<a class="project-fullscreen-url" [href]="project.url" target="_blank">
				<i class="fa-solid fa-up-right-from-square"></i>
				Visit website
			</a>
		</div>
		<div class="project-fullscreen-image">
			<img src="{{ project.image }}" alt="" />
		</div>
	</div>
</div>
}