@import '../../../variables';

.project {
	border: 7px solid $contrast-color;
	width: 16rem;
	margin: auto;
	color: $main-color;
	// color: black;
	transition: all 0.1s ease-out;
	cursor: pointer;
	transform: skew(-3deg, -2deg);

	&:hover {
		transform: scale(1.05) translateY(-20px) rotate(1deg);

		.project-image {
			img {
				filter: grayscale(0%);
			}
		}
	}

	.project-image {
		img {
			width: 100%;
			height: 10rem;
			object-fit: cover;
			filter: grayscale(80%);
			transition: all 0.3s ease;
		}
	}

	.project-body {
		padding: 0.5rem 1rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

/////////////////////////////////////////////////////////////////////////////////

.fullscreen-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	min-height: 100vh;
	z-index: 424242;
	background-color: rgba($color: $dark-color, $alpha: 0.3);
	backdrop-filter: blur(10px);
}

.project-fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	min-height: 100vh;
	z-index: 424242;
	background-color: $main-color;
	color: $dark-color;
	animation-duration: 0.2s;
	display: flex;
	justify-content: center;

	.container {
		display: flex;
		padding: 4rem 0;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap-reverse;

		@media (max-width: $mobile-breakpoint) {
			padding: 1rem 0;
		}
	}

	.project-fullscreen-image {
		border: 7px solid $dark-color;
		transform: skew(3deg, 2deg);
		margin: 0 1rem;

		@media (max-width: $mobile-breakpoint) {
			transform: skew(3deg, 2deg) scale(0.8);
		}

		img {
			width: 100%;
			max-width: 30rem;
			transform: skew(-6deg, -4deg);
		}
	}

	.project-fullscreen-body {
		max-width: 30rem;
		padding: 1rem;

		@media (max-width: $mobile-breakpoint) {
			padding: 0rem 1rem;
		}

		.project-fullscreen-name {
			font-size: 3rem;

			@media (max-width: $mobile-breakpoint) {
				font-size: 2rem;
				margin-top: 0;
			}
		}

		.project-fullscreen-description {
			font-size: 1.2rem;

			@media (max-width: $mobile-breakpoint) {
				font-size: 1rem;
			}
		}

		.project-fullscreen-date {
			transform: skew(-3deg, -2deg);
			background-color: $dark-color;
			color: $main-color;
			width: fit-content;
			padding: 10px;

			@media (max-width: $mobile-breakpoint) {
				position: absolute;
				top: 0;
				left: 1rem;
			}
		}

		.project-fullscreen-url {
			font-size: 1.3rem;
			font-weight: bold;
			transition: all 0.3s ease-in-out;
			display: inline-block;
			// margin: auto;

			&:hover {
				margin-left: (1rem);
			}
		}
	}

	.icon {
		position: absolute;
		cursor: pointer;
		text-align: center;
		font-size: 2rem;
		font-weight: bold;
		width: 2rem;
		line-height: 2rem;
		transition: all 0.3s ease-in-out;
		transform: skew(-3deg, -2deg);

		&:hover {
			transform: scale(1.3) skew(-3deg, -2deg);
		}
	}

	.icon-close {
		top: 1rem;
		right: 1rem;
	}

	.icon-left {
		top: 50%;
		left: 1rem;
		width: 32px;
		height: 32px;
	}

	.icon-right {
		top: 50%;
		right: 1rem;
		width: 32px;
		height: 32px;
	}

	@media (max-width: $mobile-breakpoint) {

		.icon-left,
		.icon-right {
			top: auto;
			bottom: 1rem;
		}

		.icon-left {
			left: 7rem;
		}

		.icon-right {
			right: 7rem;
		}
	}
}