<div class="experiences">
	<h2 class="title"><span class="crimson">_</span>experiences</h2>

	<div class="experience">
		<h2>Full Stack Developer – Groupe Bellon</h2>
		<p>April 2024 – February 2025</p>
		<ul>
			<li>Developed a custom ERP web application with Angular from scratch</li>
			<li>Created a UI component library for the group using SCSS</li>
			<li>Defined coding standards and best practices</li>
			<li>Designed CI/CD workflows using GitHub Actions</li>
		</ul>
	</div>

	<div class="experience">
		<h2>Full Stack Developer – Stéphane Plaza Immobilier</h2>
		<p>March 2019 – February 2023</p>
		<ul>
			<li>Developed a web application using Laravel from scratch</li>
			<li>Created and consumed REST APIs</li>
			<li>Explored and integrated Microsoft 365 environment</li>
			<li>Implemented CI/CD pipelines with Docker and Gitlab CI</li>
			<li>Scripted and automated tasks with PowerShell</li>
		</ul>
	</div>

	<div class="experience">
		<h2>Full Stack Developer – Pandacraft</h2>
		<p>June 2017 – October 2017</p>
		<ul>
			<li>Improved and optimized the Magento backend</li>
			<li>Developed new features using React JS</li>
			<li>Used version control and performed code reviews in a team environment</li>
		</ul>
	</div>

	<div class="experience">
		<h2>Sales Assistant – Groupe La Poste</h2>
		<p>September 2008 – June 2013</p>
		<ul>
			<li>Organizational skills and attention to detail</li>
			<li>Team collaboration</li>
			<li>Customer relationship management</li>
		</ul>
	</div>
</div>