<div class="stack">
	<h2 class="title"><span class="contrast">_</span>stack</h2>

	<div class="tools">
		<div class="tool">Html</div>
		<div class="tool">Css</div>
		<div class="tool">Scss</div>
		<div class="tool">Javascript</div>
		<div class="tool">Typescript</div>
	</div>

	<div class="tools">
		<div class="tool">Git</div>
		<div class="tool">Github</div>
		<div class="tool">Github actions</div>
	</div>

	<div class="tools">
		<div class="tool">Angular</div>
		<div class="tool">React</div>
		<div class="tool">Vue</div>
		<div class="tool">NodeJS</div>
		<div class="tool">Express</div>
	</div>

	<div class="tools">
		<div class="tool">Php</div>
		<div class="tool">Laravel</div>
	</div>

	<div class="tools">
		<div class="tool">Ruby</div>
		<div class="tool">Ruby on Rails</div>
	</div>

	<div class="tools">
		<div class="tool">Nginx</div>
		<div class="tool">Apache</div>
		<div class="tool">Docker</div>
		<div class="tool">Docker compose</div>
	</div>

	<div class="tools">
		<div class="tool">Bash</div>
		<div class="tool">Powershell</div>
		<div class="tool">Linux</div>
	</div>

	<div class="tools">
		<div class="tool">MySQL</div>
		<div class="tool">PostgreSQL</div>
		<div class="tool">SQLite</div>
		<div class="tool">Redis</div>
	</div>

	<div class="tools">
		<div class="tool">Postman</div>
		<div class="tool">Grafana</div>
		<div class="tool">Azure Ad</div>
		<div class="tool">Dynamics 365</div>
	</div>

	<div class="tools">
		<div class="tool">Webpack</div>
		<div class="tool">Grunt</div>
		<div class="tool">ESLint</div>
		<div class="tool">PM2</div>
	</div>
</div>