<div class="stack">
	<h2 class="title"><span class="contrast">_</span>stack</h2>

	<div class="tools">
		<div class="tool">Html</div>
		<div class="tool">Css</div>
		<div class="tool">Scss</div>
		<div class="tool">Javascript</div>
		<div class="tool">Typescript</div>
	</div>

	<div class="tools">
		<div class="tool">Git</div>
		<div class="tool">Github</div>
		<div class="tool">Github actions</div>
	</div>

	<div class="tools">
		<div class="tool">Angular</div>
		<div class="tool">React</div>
		<div class="tool">Vue</div>
		<div class="tool">NodeJS</div>
		<div class="tool">Express</div>
	</div>

	<div class="tools">
		<div class="tool">Php</div>
		<div class="tool">Laravel</div>
	</div>

	<div class="tools">
		<div class="tool">Ruby</div>
		<div class="tool">Ruby on Rails</div>
	</div>
</div>