.stack {
	margin-bottom: 5rem;

	.tools {
		display: flex;
		flex-wrap: wrap;
	}

	.tool {
		background-color: crimson;
		// border-radius: 5px;
		padding: 0.4rem;
		margin: 0.2rem;
  font-weight: bold;
	}
}