<div class="stack section">
	<h2 class="title"><span class="contrast">_</span>stack</h2>

	<div class="tools animated-slide-fade-in-up" [style.animation-delay]="1 * 0.1 + 's'">
		<div class="label">Html</div>
		<div class="label">Css</div>
		<div class="label">Scss</div>
		<div class="label">Javascript</div>
		<div class="label">Typescript</div>
	</div>

	<div class="tools animated-slide-fade-in-up" [style.animation-delay]="2 * 0.1 + 's'">
		<div class="label">Git</div>
		<div class="label">Github</div>
		<div class="label">Github actions</div>
	</div>

	<div class="tools animated-slide-fade-in-up" [style.animation-delay]="3 * 0.1 + 's'">
		<div class="label">Angular</div>
		<div class="label">React</div>
		<div class="label">Vue</div>
		<div class="label">NodeJS</div>
		<div class="label">Express</div>
	</div>

	<div class="tools animated-slide-fade-in-up" [style.animation-delay]="4 * 0.1 + 's'">
		<div class="label">Php</div>
		<div class="label">Laravel</div>
	</div>

	<div class="tools animated-slide-fade-in-up" [style.animation-delay]="5 * 0.1 + 's'">
		<div class="label">Ruby</div>
		<div class="label">Ruby on Rails</div>
	</div>

	<div class="tools animated-slide-fade-in-up" [style.animation-delay]="6 * 0.1 + 's'">
		<div class="label">Nginx</div>
		<div class="label">Apache</div>
		<div class="label">Docker</div>
		<div class="label">Docker compose</div>
	</div>

	<div class="tools animated-slide-fade-in-up" [style.animation-delay]="7 * 0.1 + 's'">
		<div class="label">Bash</div>
		<div class="label">Powershell</div>
		<div class="label">Linux</div>
	</div>

	<div class="tools animated-slide-fade-in-up" [style.animation-delay]="8 * 0.1 + 's'">
		<div class="label">MySQL</div>
		<div class="label">PostgreSQL</div>
		<div class="label">SQLite</div>
		<div class="label">Redis</div>
	</div>

	<div class="tools animated-slide-fade-in-up" [style.animation-delay]="9 * 0.1 + 's'">
		<div class="label">Postman</div>
		<div class="label">Grafana</div>
		<div class="label">Azure Ad</div>
		<div class="label">Dynamics 365</div>
	</div>

	<div class="tools animated-slide-fade-in-up" [style.animation-delay]="10 * 0.1 + 's'">
		<div class="label">Webpack</div>
		<div class="label">Grunt</div>
		<div class="label">ESLint</div>
		<div class="label">PM2</div>
	</div>
</div>