@use 'variables' as variables;

@keyframes slideFadeInLeft {
	from {
		opacity: 0;
		transform: translateX(-50px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.animated-slide-fade-in-left {
	animation: slideFadeInLeft 1s ease-out forwards;
	opacity: 0;
}

//////////////////////////////////////////////////////////////////////////////

@keyframes slideFadeInDown {
	from {
		opacity: 0;
		transform: translateY(50px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.animated-slide-fade-in-down {
	animation: slideFadeInDown 0.5s ease-out forwards;
	opacity: 0;
}

//////////////////////////////////////////////////////////////////////////////

@keyframes slideFadeInUp {
	from {
		// opacity: 0;
		transform: translateY(-50px);
	}

	to {
		// opacity: 1;
		transform: translateX(0);
	}
}

.animated-slide-fade-in-up {
	animation: slideFadeInUp 0.5s ease-out forwards;
	// opacity: 0;
}

//////////////////////////////////////////////////////////////////////////////

@keyframes zoomFadeInBack {
	from {
		opacity: 0;
		transform: scale(0.9);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

.animated-zoom-fade-in-back {
	animation: zoomFadeInBack 0.3s ease-out forwards;
	opacity: 0;
}

//////////////////////////////////////////////////////////////////////////////

@keyframes slideInLeft {
	from {
		transform: translateX(-200px);
	}

	to {
		transform: translateX(0);
	}
}

.animated-slide-in-left {
	animation: slideInLeft 1s ease-out forwards;
}

//////////////////////////////////////////////////////////////////////////////
/// 
@keyframes blinkPrompt {
	0% {
		background-color: variables.$contrast-color;
	}

	50% {
		background-color: variables.$contrast-color;
	}

	51% {
		background-color: transparent;
	}
}

.animated-blink-prompt {
	animation: blinkPrompt 1s ease-out forwards;
}

//////////////////////////////////////////////////////////////////////////////

@keyframes slideInScreenLeft {
	0% {
		left: -100vw;
	}

	100% {
		left: 0;
	}


}

.animated-slide-in-screen-left {
	animation: slideInScreenLeft 1s ease-out forwards;
}

//////////////////////////////////////////////////////////////////////////////

@keyframes slideOutScreenLeft {
	0% {
		left: 0;
	}

	100% {
		left: -100vw;
	}
}

.animated-slide-out-screen-left {
	animation: slideOutScreenLeft 1s ease-out forwards;
}

//////////////////////////////////////////////////////////////////////////////

@keyframes slideInScreenDown {
	0% {
		top: -100vh;
	}

	100% {
		top: 0;
	}
}

.animated-slide-in-screen-down {
	animation: slideInScreenDown 1s ease-out forwards;
}

//////////////////////////////////////////////////////////////////////////////

@keyframes slideOutScreenDown {
	0% {
		top: 0;
	}

	100% {
		top: 100vh;
	}
}

.animated-slide-out-screen-down {
	animation: slideOutScreenDown 1s ease-out forwards;
}

//////////////////////////////////////////////////////////////////////////////

@keyframes slideOutScreenRight {
	0% {
		left: 0;
	}

	100% {
		left: 100vw;
	}
}

.animated-slide-out-screen-right {
	animation: slideOutScreenRight 1s ease-out forwards;
}