@use 'animations';

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap');

body {
	background-image: url('/vchaillo/backgrounds/background-10.jpg');
	object-fit: cover;
	background-size: cover;
	padding: 0;
	margin: 0;
	font-family: 'Urbanist', sans-serif;
	color: #f1ddc4;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	padding: 0 2rem;
	max-width: 120rem;
	margin: auto;
}

.container-fluid {
	padding: 0 2rem;
	margin: auto;
}

.title {
	font-size: 3rem;
	font-weight: bold;
}

.button {
	background-color: transparent;
	border: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	background-color: crimson;
	color: #f1ddc4;

	// &:hover {
	// 	padding: 0.5rem;
	// 	background-color: #f1ddc4;
	// }
}

@keyframes blinkPrompt {
	0% {
		background-color: crimson;
	}

	50% {
		background-color: crimson;
	}

	51% {
		background-color: transparent;
	}
}

.crimson {
	// animation: blinkPrompt 2s infinite
	color: crimson;
}