@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap');

html {
	padding: 0;
	margin: 0;
	background-image: url('/vchaillo/background-4.jpg');
	object-fit: cover;
	background-size: cover;
}

body {
	font-family: 'Urbanist', sans-serif;
	color: rgb(241, 221, 196);
}

a {
	text-decoration: none;
	color: inherit;

	&:hover {
		text-decoration: underline;
	}

	&.active {
		// text-decoration: underline;
		font-weight: bold;
	}
}

.container {
	padding: 1rem;
	max-width: 100rem;
	margin: auto;
}

.container-fluid {
	padding: 1rem;
	margin: auto;
}

@keyframes slideFadeInLeft {
	from {
		opacity: 0;
		transform: translateX(-50px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.animated-slide-fade-in-left {
	animation: slideFadeInLeft 1s ease forwards;
	opacity: 0;
}

@keyframes slideFadeInDown {
	from {
		opacity: 0;
		transform: translateY(50px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.animated-slide-fade-in-down {
	animation: slideFadeInDown 1s ease forwards;
	opacity: 0;
}