@use 'app/animations/animations';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap');

body {
	background-image: url('/vchaillo/backgrounds/background-10.jpg');
	object-fit: cover;
	background-size: cover;
	padding: 0;
	margin: 0;
	font-family: 'Urbanist', sans-serif;
	color: $main-color;
}

.no-scroll {
	overflow: hidden;
	// padding-right: 15px;
	border-right: 14px solid #2C2C2C;
	/* Largeur approximative de la barre de défilement */
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	font-size: 1.1rem;
}

.label {
	background-color: $contrast-color;
	color: $main-color;
	padding: 0.4rem 0.4rem;
	margin: 0.25rem;
	font-weight: bold;
	transform: skew(-3deg, -2deg);

	@media (max-width: $mobile-breakpoint) {
		margin: 0.15rem;
	}
}

.hide-on-mobile {
	@media (max-width: $mobile-breakpoint) {
		display: none;
	}
}

.show-on-mobile {
	@media (min-width: $mobile-breakpoint) {
		display: none;
	}
}

.code {
	font-family: 'Consolas', Courier, monospace;
	background-color: $dark-color;
	color: $main-color;
	padding: 0 0.2rem;
}

.icon {
	display: inline-block;
	width: 24px;
	height: 24px;
}

.container {
	padding: 0 2rem;
	max-width: 100rem;
	margin: auto;
}

.container-fluid {
	padding: 0 2rem;
	margin: auto;
}

.section {
	margin-bottom: 5rem;

	@media (max-width: $mobile-breakpoint) {
		margin-bottom: 3rem;
	}
}

.title {
	font-size: 3rem;
	font-weight: bold;
	opacity: 0;
	animation: slideFadeInLeft $xlong-animation-duration ease-out forwards;
}

.button {
	background-color: transparent;
	border: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	background-color: $contrast-color;
	color: $main-color;

	// &:hover {
	// 	padding: 0.5rem;
	// 	background-color: #f1ddc4;
	// }
}

.contrast {
	// animation: blinkPrompt 2s infinite
	color: $contrast-color;
}