$main-color: #f1ddc4;
$contrast-color: crimson;
$dark-color: #101020;

$hover-animation-duration: 0.15s;
$base-animation-duration: 0.2s;
$long-animation-duration: 0.5s;
$xlong-animation-duration: 1s;

$mobile-breakpoint: 768px;
$tablet-breakpoint: 1024px;
$desktop-breakpoint: 1216px;
$widescreen-breakpoint: 1408px;
$fullhd-breakpoint: 1900px;