<h1>Mentions légales</h1>

<h2>Éditeur du site</h2>
<p>
	<strong>Nom :</strong> Valentin Chaillou<br>
	<strong>Adresse :</strong> Adresse disponible sur demande<br>
	<strong>Email :</strong> valentinchaillou89&#64;gmail.com<br>
	<strong>SIRET :</strong> [Si auto-entrepreneur ou société, sinon à supprimer]
</p>

<h2>Hébergement</h2>
<p>
	Le site est hébergé par :<br>
	<strong>Nom de l’hébergeur :</strong> Github pages<br>
	<strong>Adresse :</strong> [Adresse complète de l'hébergeur]<br>
	<strong>Site web :</strong> <a href="https://github.com" target="_blank">github.com</a>
</p>

<h2>Propriété intellectuelle</h2>
<p>
	Tous les contenus présents sur ce site (textes, images, graphismes, logo, etc.) sont, sauf mention contraire, la
	propriété exclusive de [Votre nom]. Toute reproduction, distribution ou utilisation sans autorisation préalable est
	interdite.
</p>

<h2>Responsabilité</h2>
<p>
	L’éditeur ne peut être tenu responsable des erreurs ou omissions dans les informations diffusées ni de l’utilisation
	qui pourrait être faite de ces informations.
</p>

<h2>Cookies</h2>
<p>
	Ce site utilise uniquement des cookies de mesure d’audience via Google Analytics, un service fourni par Google Inc.
	Ces cookies permettent d’analyser la navigation sur le site afin d’en améliorer le contenu. Vous pouvez désactiver
	l’utilisation des cookies en modifiant les paramètres de votre navigateur.
</p>

<h2>Données personnelles</h2>
<p>
	Aucune donnée personnelle n’est collectée sur ce site sans votre consentement. Si vous utilisez un formulaire de
	contact, les données envoyées ne seront utilisées que pour répondre à votre demande.
</p>