@import '../../../variables';

.open-button {
	cursor: pointer;
	display: inline-block;
	transform: skew(-3deg, -2deg);
	font-size: 1.4rem;

	&:hover {
		transform: scale(1.5) rotate(5deg);
		color: $contrast-color;
		transition: all 0.2s ease-in-out;
	}
}

.resume {
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba($color: $dark-color, $alpha: 0.3);
	backdrop-filter: blur(10px);
	padding: 3rem 0;
	text-align: center;

	.resume-image {
		width: fit-content;
		margin: auto;
		transform: skew(-3deg, -2deg);
		border: 7px solid $contrast-color;

		img {
			max-height: 60vh;
			max-width: max-content;
			width: 90vw;
			transform: skew(3deg, 2deg);
		}
	}

	.close-mark {
		position: absolute;
		top: 0rem;
		right: 0rem;
		z-index: 1000;
		font-size: 1.4rem;
		top: 1.5rem;
		right: 1.5rem;
		border-radius: 50%;
		color: $main-color;
		display: flex;
		text-decoration: none;
		justify-content: center;
		align-items: center;
		font-size: 1.5rem;
		font-weight: bold;
		text-align: center;
		transition: all 0.1s ease-in-out;
		cursor: pointer;

		&:hover {
			transform: scale(1.3) skew(-3deg, -2deg);
			color: $contrast-color;
		}
	}

	h3 {
		// width: fit-content;
		// margin: auto;
		display: inline-block;
	}

	a {
		padding: 1.5rem;
		font-size: 2rem;
		display: inline-block;
		transition: all 0.1s ease-in-out;
		transform: skew(-3deg, -2deg);

		&:hover {
			transform: rotate(5deg) scale(1.2);
			color: $contrast-color;
		}
	}
}