<a class="open-button" (click)="openResume()"><i class="fa-solid fa-envelope"></i></a>

@if (resumeIsOpen) {
<div class="resume">
	<i (click)="closeResume()" class=" close-mark fa-solid fa-check"></i>

	<div>
		<h3 class="label">_socials</h3>
		<a href="mailto:valentinchaillou89@gmail.com">
			<i class="fa-solid fa-at"></i>
		</a>
		<a href="https://github.com/vchaillo" target="_blank">
			<i class="fa-brands fa-github"></i>
		</a>
		<a href="https://www.linkedin.com/in/vchaillo" target="_blank">
			<i class="fa-brands fa-linkedin"></i>
		</a>
	</div>

	<div class="resume-image">
		<img class="animated-zoom-fade-in-bac" src="valentin_chaillou.png" alt="resume">
	</div>

	<div class="animated-slide-fade-in-down">
		<h3 class="label">_save as</h3>
		<a href="/vchaillo/valentin_chaillou.pdf" download="vchaillo/valentin_chaillou.pdf">
			<i class="fa-solid fa-file-pdf"></i>
		</a>
		<a href="/vchaillo/valentin_chaillou.png" download="vchaillo/valentin_chaillou.png">
			<i class="fa-solid fa-image"></i>
		</a>
	</div>
</div>
}