<div class="animated-slide-fade-in-up" [style.animation-delay]="'0.5s'">
	<a class="open-button" (click)="openResume()" title="Contact me">
		<img class="icon" src="/icons/envelope.svg" alt="Contact me">
	</a>
</div>

@if (resumeIsOpen) {
<div class="resume">
	<!-- <i (click)="closeResume()" class="close-mark fa-solid fa-check"></i> -->
	<img (click)="closeResume()" class="icon close-button" src="/icons/check.svg" alt="Contact me">

	<!-- <img class="icon close-button" src="/icons/close.svg" alt="Close" (click)="closeResume()"> -->

	<div class="animated-slide-fade-in-down">
		<h3 class="label">_socials</h3>
		<a href="mailto:valentinchaillou89@gmail.com" title="Send email">
			<i class="fa-solid fa-at"></i>
		</a>
		<a href="https://github.com/vchaillo" target="_blank" title="GitHub">
			<i class="fa-brands fa-github"></i>
		</a>
		<a href="https://www.linkedin.com/in/vchaillo" target="_blank" title="LinkedIn">
			<i class="fa-brands fa-linkedin"></i>
		</a>
	</div>

	<div class="animated-zoom-in">
		<div class="resume-image">
			<img src="valentin_chaillou.png" alt="resume">
		</div>
	</div>

	<div class="animated-slide-fade-in-up">
		<h3 class="label">_save as</h3>
		<a href="/valentin_chaillou.pdf" download="valentin_chaillou.pdf" title="Download PDF">
			<i class="fa-solid fa-file-pdf"></i>
		</a>
		<a href="/valentin_chaillou.png" download="valentin_chaillou.png" title="Download PNG">
			<i class="fa-solid fa-image"></i>
		</a>
	</div>
</div>
}